{% extends "object_detection/index.html" %}
 
{% block content %}
    <h2 class="text-center font-extrabold text-2xl m-10">Labels and Images Downloads</h2>
    <div class="felx justify-center ml-auto mr-auto text-center">
        <div class="p-4 border rounded-md shadow-md bg-lime-600 text-white">
            <div class="flex flex-col text-center">
                <div>
                    project_code: {{project_code}}
                </div>
                <div>
                    dataset_code: {{dataset_code}},
                </div>
            </div>
        </div>
        <p>Result:</p>
        <pre>{{ dataset_result }}</pre>
    </div>

    {% endblock %}